POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=salehalkarabubi
POSTGRES_USER=salehalkarabubi
POSTGRES_PASSWORD=
POSTGRES_SSL= # Set this to true for Vercel connection and omit it or set it to false for local connection